* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  /* text:rgb(69, 232, 28); */
  height: 80px;

  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 20px; */
  font-size: 20px;
}
.nav-item{

  color: rgb(52, 190, 24);
}